<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!isEditable">{{comment.body}}</p>
    <div class="new-comment" *ngIf="isEditable">
      <mat-form-field>
        <textarea [(ngModel)]="comment.body" matInput placeholder="Enter your text..." ></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{reactionCount(true)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="disLikeComment()">
      <mat-icon matBadge="{{reactionCount(false)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">mood_bad</mat-icon>
    </button>
    <dialog-overview [reactions]="comment.reactions"></dialog-overview>
    <div *ngIf="isOwner()">
      <button mat-icon-button (click)="editComment()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteComment()">
        <mat-icon arial-label="Delete">delete icon</mat-icon>
      </button>
    </div>
    
  </mat-card-actions>
</mat-card>
