<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <button *ngIf="isOwner()" mat-icon-button color="basic" style="margin-left: 10px" (click)="IsEditPost()">
      <mat-icon>edit icon</mat-icon>
    </button>
    <button *ngIf="isOwner()" mat-icon-button color="red" matTooltip="Delete" (click)="tryDelete()">
      <mat-icon aria-label="Edit">delete icon</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content *ngIf="!editeblePost">
    <p>{{post.body}}</p>
  </mat-card-content>
  <div *ngIf="editeblePost">
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="post.body" matInput placeholder="Enter new test..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Edit" (click)="editPost()">
        <mat-icon aria-label="Edit">edit icon</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-actions class="actions-buttons" align="end">
    <p *ngIf="hasNewComments">You have unreaded comments</p>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{reactionCount(true)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="disLikePost()">
      <mat-icon matBadge="{{reactionCount(false)}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">mood_bad</mat-icon>
    </button>
    <dialog-overview [reactions]="post.reactions"></dialog-overview>
    

    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [post]="post" [currentUser]="currentUser"></app-comment>
  </div>
</mat-card>
