<h1 mat-dialog-title>User list</h1>
<div mat-dialog-content>
    <div *ngFor="let userReaction of data.userReactions">
        <p>{{userReaction.user.userName}} - {{userReaction.isLike ? "like" : "dislike"}}</p>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
